{% if CONFIG_RDK_EXTENDER %}
["Open_vSwitch"]
{%- else %}
[
    "Open_vSwitch",
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row": {
            "if_name": "{{CONFIG_RDK_LAN_BRIDGE_NAME}}",
            "ip_assign_scheme": "static",
            "if_type": "bridge",
            "inet_addr": "10.0.0.1",
            "netmask": "255.255.255.0",
            "dhcpd":  ["map",[
                              ["dhcp_option","26, 1600"],
                              ["force","false"],
                              ["lease_time", "12h"],
                              ["start", "10.0.0.2"],
                              ["stop", "10.0.0.253"]
                      ]],
            "network": true,
            "enabled": true
       }
    },
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row": {
            "if_name": "{{CONFIG_RDK_BHAUL_AP_24_IFNAME}}",
            "ip_assign_scheme": "static",
            "if_type": "vif",
            "mtu": 1600,
            "inet_addr": "169.254.0.1",
            "netmask":"255.255.255.128",
            "dhcpd":  ["map",[
                              ["dhcp_option","26, 1600"],
                              ["force","false"],
                              ["lease_time", "12h"],
                              ["start", "169.254.0.10"],
                              ["stop", "169.254.0.126"]
                      ]],
            "network": true,
            "enabled": true
       }
    },
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row": {
            "if_name": "{{CONFIG_RDK_BHAUL_AP_50_IFNAME}}",
            "ip_assign_scheme": "static",
            "if_type": "vif",
            "mtu": 1600,
            "inet_addr": "169.254.1.1",
            "netmask":"255.255.255.128",
            "dhcpd":  ["map",[
                              ["dhcp_option","26, 1600"],
                              ["force","false"],
                              ["lease_time", "12h"],
                              ["start", "169.254.1.10"],
                              ["stop", "169.254.1.126"]
                      ]],
            "network": true,
            "enabled": true
       }
    },
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row": {
            "if_name": "{{CONFIG_RDK_ONBOARD_AP_24_IFNAME}}",
            "ip_assign_scheme": "static",
            "if_type": "vif",
            "mtu": 1600,
            "inet_addr": "169.254.0.129",
            "netmask":"255.255.255.128",
            "dhcpd":  ["map",[
                              ["dhcp_option","26, 1600"],
                              ["force","false"],
                              ["lease_time", "12h"],
                              ["start", "169.254.0.130"],
                              ["stop", "169.254.0.254"]
                      ]],
            "network": true,
            "enabled": true
       }
    },
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row": {
            "if_name": "{{CONFIG_RDK_ONBOARD_AP_50_IFNAME}}",
            "ip_assign_scheme": "static",
            "if_type": "vif",
            "mtu": 1600,
            "inet_addr": "169.254.1.129",
            "netmask":"255.255.255.128",
            "dhcpd":  ["map",[
                              ["dhcp_option","26, 1600"],
                              ["force","false"],
                              ["lease_time", "12h"],
                              ["start", "169.254.1.130"],
                              ["stop", "169.254.1.252"]
                      ]],
            "network": true,
            "enabled": true
       }
    },
{% if CONFIG_RDK_6G_RADIO_SUPPORT %}
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row": {
            "if_name": "{{CONFIG_RDK_BHAUL_AP_60_IFNAME}}",
            "ip_assign_scheme": "static",
            "if_type": "vif",
            "mtu": 1600,
            "inet_addr": "169.254.2.1",
            "netmask":"255.255.255.128",
            "dhcpd":  ["map",[
                              ["dhcp_option","26, 1600"],
                              ["force","false"],
                              ["lease_time", "12h"],
                              ["start", "169.254.2.10"],
                              ["stop", "169.254.2.126"]
                      ]],
            "network": true,
            "enabled": true
       }
    },
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row": {
            "if_name": "{{CONFIG_RDK_ONBOARD_AP_60_IFNAME}}",
            "ip_assign_scheme": "static",
            "if_type": "vif",
            "mtu": 1600,
            "inet_addr": "169.254.2.129",
            "netmask":"255.255.255.128",
            "dhcpd":  ["map",[
                              ["dhcp_option","26, 1600"],
                              ["force","false"],
                              ["lease_time", "12h"],
                              ["start", "169.254.2.130"],
                              ["stop", "169.254.2.252"]
                      ]],
            "network": true,
            "enabled": true
       }
    },
{%- endif %}
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row": {
            "if_name": "{{CONFIG_RDK_LAN_ETH_IFNAME}}",
            "if_type": "eth",
            "enabled": true,
            "mac_reporting": true,
            "network": true
       }
    }
]
{%- endif %}
