menuconfig PLATFORM_IS_RDK
    bool "RDK"
    help
        Support for RDK-based platforms

if PLATFORM_IS_RDK

config RDK_LAN_BRIDGE_NAME
    string "LAN bridge name"
    default "br-home"
    help
        LAN bridge name that will be used

config RDK_WAN_BRIDGE_NAME
    string "WAN bridge name"
    default "br-wan"
    help
        WAN bridge name that will be used

config RDK_HOME_AP_24_IFNAME
    string "Home AP 2.4 GHz interface name"
    default "home-ap-24"
    help
        Home AP 2.4 GHz name that will be used

config RDK_HOME_AP_50_IFNAME
    string "Home AP 5 GHz interface name"
    default "hom-ap-50"
    help
        Backhaul AP 5 GHz name that will be used

config RDK_HOME_AP_60_IFNAME
    string "Home AP 6 GHz interface name"
    default "hom-ap-60"
    help
        Backhaul AP 6 GHz name that will be used

config RDK_BHAUL_AP_24_IFNAME
    string "Backhaul AP 2.4 GHz interface name"
    default "bhaul-ap-24"
    help
        Backhaul AP 2.4 GHz name that will be used

config RDK_BHAUL_AP_50_IFNAME
    string "Backhaul AP 5 GHz interface name"
    default "bhaul-ap-50"
    help
        Backhaul AP 5 GHz name that will be used

config RDK_BHAUL_AP_60_IFNAME
    string "Backhaul AP 6 GHz interface name"
    default "bhaul-ap-60"
    help
        Backhaul AP 6 GHz name that will be used

config RDK_ONBOARD_AP_24_IFNAME
    string "Onboard AP 2.4 GHz interface name"
    default "onboard-ap-24"
    help
        Onboard AP 2.4 GHz name that will be used

config RDK_ONBOARD_AP_50_IFNAME
    string "Onboard AP 5 GHz interface name"
    default "onboard-ap-50"
    help
        Onboard AP 5 GHz name that will be used

config RDK_ONBOARD_AP_60_IFNAME
    string "Onboard AP 6 GHz interface name"
    default "onboard-ap-60"
    help
        Onboard AP 6 GHz name that will be used

config RDK_6G_RADIO_SUPPORT
    bool "6G radio support"
    default n
    help
        Support for 6G radio

config RDK_CHIPSET_NAME_2G
    string "2.4 GHz radio wifi chipset name"
    default "Chipset2G"
    help
        Human-readable Wifi chipset name of 2.4GHz radio

config RDK_CHIPSET_NAME_5G
    string "5 GHz radio wifi chipset name"
    default "Chipset5G"
    help
        Human-readable Wifi chipset name of 5GHz radio

config RDK_CHIPSET_NAME_6G
    string "6 GHz radio wifi chipset name"
    default "Chipset6G"
    help
        Human-readable Wifi chipset name of 6GHz radio

config RDK_CONTROL_ALL_VAPS
    bool "Allow OpenSync to control all VAP interfaces"
    help
        Select this option if you want to see all the Wifi interfaces
        in the Wifi_VIF_Config and Wifi_VIF_State tables.
        Do not use this option if there are some interfaces that are
        controlled only outside of OpenSync framework.

config RDK_LAN_ETH_IFNAME
    string "LAN ethernet interface name"
    default "eth0"
    help
        Interface name on which ethernet clients
        are connected

config RDK_MOCA_IFNAME
    string "MOCA interface name"
    default "moca0"
    help
        MOCA interface name

config RDK_HEALTHCHECK_INTERVAL
    int "Radio and VIF states healthcheck interval in seconds"
    default "120"
    help
        The interval at which OpenSync will read Radio and VIF
        information to keep OVSDB state tables up-to-date.

config RDK_HAS_ASSOC_REQ_IES
    bool "The wifi_getAssociationReqIEs is implemented"
    help
        The wifi_getAssociationReqIEs() is a pending Wi-Fi HAL API.
        If implemented, then Band Steering Manager can request
        connected client's capabilities on demand.
        Otherwise it will depend only on capabilities delivered with
        a BS CONNECT event. If the event is missed for some reason,
        the band steering manager will not have all the information
        until the next CONNECT event.

config RDK_MULTI_PSK_SUPPORT
    bool "Multi-PSK support"
    default n
    help
        This enables Multi-PSK support.
        This feature depends on a set of new wifihal API functions:
        wifi_newApAssociatedDevice_callback2(),
        wifi_getApAssociatedDeviceDiagnosticResult4(),
        wifi_pushMultiPskKeys(),
        wifi_getMultiPskKeys()

config RDK_DISABLE_SYNC
    bool "RDK disable sync with MeshAgent"
    default n

config RDK_EXTENDER
    bool "RDK Extender device"
    default n

config RDK_WPS_SUPPORT
    bool "WPS support"
    default n
    help
        This feature enables WPS support.

config RDK_MULTI_AP_SUPPORT
    bool "Multi AP support"
    default n
    help
        This feature enables Multi AP support.

config RDK_MGMT_FRAME_CB_SUPPORT
    bool "Management frames callback support"
    default n
    help
        This feature uses RDK HAL API to provide to
        OpenSync received raw management frames. OpenSync
        parses those frames for Band Steering purpose.

config RDK_DHCP_LEASES_PATH
    string "DHCP leases path"
    default "/nvram/dnsmasq.leases"
    help
        DHCP leases path

config RDK_SYNC_EXT_HOME_ACLS
    bool "Sync externally configured ACLs on home APs to VIF config"
    default n
    help
        This enables synchronization of externally configured ACLs on
        home APs to VIF Config and State tables to prevent their removal
        upon next event of applying configuration.

config RDK_WIFI_HAL_VERSION_3_PHASE2
    bool "Enable WIFI_HAL_VERSION_3_PHASE2"
    default n
    help
        Enable wifi_hal 3.0 phase 2

if MANAGER_XM

config RDK_CONNECTOR_DHCP_SYNC_LAN_MANAGEMENT
    bool "Connector sync LAN IP during DHCP setup"
    default n
    help
        Before setting DHCP config sync LAN IP and network subnet in TR-181 DM.
        Sync Device.X_CISCO_COM_DeviceControl.LanManagementEntry.1.LanIPAddress
        and Device.X_CISCO_COM_DeviceControl.LanManagementEntry.1.LanSubnetMask


endif

endif
